<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--    <head>-->
<!--        <meta charset="utf-8" />-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />-->
<!--        <meta name="description" content="" />-->
<!--        <meta name="author" content="" />-->
<!--        &lt;!&ndash; Favicon&ndash;&gt;-->
<!--        &lt;!&ndash; Core theme CSS (includes Bootstrap)&ndash;&gt;-->
<!--        {% load static %}-->
<!--        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />-->
<!--    </head>-->
<!--    <body>-->
<!--        &lt;!&ndash; Responsive navbar&ndash;&gt;-->
<!--        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">-->
<!--            {% draw_menu 'main_menu' %}-->
<!--        </nav>-->
<!--        &lt;!&ndash; Bootstrap core JS&ndash;&gt;-->
<!--        &lt;!&ndash; Core theme JS&ndash;&gt;-->
<!--    </body>-->
<!--</html>-->